<div class="recipe-banner">
</div>

<div class="recipe-header">
  <h1><%= @header %></h1>
</div>


<div class="recipe-container">
  <div class="recipe-permissions">
    <%= link_to "E D I T", edit_recipe_path(@recipe) %>   / /
    <%= link_to "R E M O V E", user_recipe_path(@recipe), method: :delete%>
  </div>
  <div class="recipe-time">
</div>

<div class="recipe-description" contenteditable="true">
  <h6><%= @recipe.hours%> hr | <%= @recipe.minutes %> min</h6>
  <p><%= @recipe.description %></p>
</div>

<!-- <div class="recipe-media">
  <p><%= @recipe.video %></p>
  <p><%= @recipe.photo %></p>
</div> -->

<!-- <div class="input-directive">
  <% if @instructions.empty? %>
    <p>ADD INSTRUCTIONS BELOW</p><br>
  <% end %>
  <% if @ingredients.empty? %>
    <p>ADD INGREDIENTS BELOW</p><br>
  <% end %>
</div> -->

<br><br>


<div id="recipe-ingredients">
</div>


  <div id='recipe-id' style="display:none"><%= @recipe.id %></div>
    <div id="recipe-instructions">
    </div><br><br>
  </div>
