<div class="recipe-banner">
</div>

<div class="recipe-header">
  <h1><%= @header %></h1>
</div>


<div class="recipe-container">
  <div class="recipe-permissions">
    <%= link_to "Edit", edit_recipe_path(@recipe) %> |
    <%= link_to "Remove", user_recipe_path(@recipe), method: :delete%>
  </div>
  <div class="recipe-time">
</div>

<div class="recipe-description" contenteditable="true">
  <h6><%= @recipe.hours%> hr | <%= @recipe.minutes %> min</h6>
  <p><%= @recipe.description %></p>
</div>

<div class="recipe-media">
  <p><%= @recipe.video %></p>
  <p><%= @recipe.photo %></p>
</div>

<div class="data-directory">
  <% if @instructions.empty? %>
    <p>Add some instructions!</p><br>
  <% elsif @ingredients.empty? %>
    <p>Add some ingredients!</p><br>
  <% end %>
</div>

<br>

<!-- <a href="#" class="instruction-toggle">+ New Step</a> -->
<br><br>


  <div id="react-form">
  </div><br>


<div class="recipe-content">
  <div id="recipe-ingredients">
    <% if @ingredients.any? %>
      <p>Ingredients</p>
      <ul>
        <% @ingredients.each do |ing| %>
          <% if ing.volume1 == "0" && ing.volume2 != "0" %>
            <li><i class="fa fa-angle-right"></i> <%= ing.volume2 %> <%= ing.unit %> -
              <%= ing.food_item %>
              <%= link_to "-", recipe_ingredient_path(@recipe, ing),
              method: :delete%></li>
          <% elsif ing.volume1 != "0" && ing.volume2 == "0" %>
            <li><i class="fa fa-angle-right"></i> <%= ing.volume1 %> <%= ing.unit %> -
              <%= ing.food_item %>
              <%= link_to "-", recipe_ingredient_path(@recipe, ing),
            method: :delete%></li>
          <% elsif ing.volume1 != "0" && ing.volume2 != "0" %>
            <li><i class="fa fa-angle-right"></i> <%= ing.volume1 %> <%= ing.volume2 %> <%= ing.unit %> -
              <%= ing.food_item %>
              <%= link_to "-", recipe_ingredient_path(@recipe, ing),
            method: :delete%></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

    <div id='recipe-id' style="display:none"><%= @recipe.id %></div>
    <% if @instructions.any? %>
      <div id="recipe-instructions">
      </div><br><br>
    <% end %>
</div>



  </div>
