<div class="welcome-container">
  <div class="home-notice">
    <p><%= notice %></p>
    <p><%= alert %></p>
  </div>
</div>
<div class="directive-container">
  <div class="site-directives">
    <h3>With an account you can: </h3>
    <ul>
      <% @directives.each do |d| %>
      <li> <i class="fa fa-spoon" aria-hidden="true"></i><%= d %> </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="recipe-demo">
  <div class="user-list">
    <% if user_signed_in? %>
    <ul class="coler-me">
      <% @recipes.each do |r| %>
        <div class="recipe-item">
          <p>
            <h4><%= link_to r.name, recipe_path(r) %></h4>
            <p class="description"><%= r.description %></p>
            <div class="time">
              <p><%= r.hours%> hr | <%= r.minutes %> min</p>
            </div>
          </p>
        </div>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
<div class="demo-auto-play">
  <h1> DEMO WILL AUTO PLAY HERE</h1>
  <p> content </p>
  <p> content </p>
  <p> content </p>
  <p> content </p>
</div>
<div class="home-footer">
  <h1> some footer stuff and maybe a button to send user to the top of screen</h1>
</div>
<h1 class="greeting-header"><%= @greetings.sample %></h1>
