<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>plate.</title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <nav class="top-bar" data-topbar role="navigation">
     <% if user_signed_in? %>
       <%= link_to 'Home', root_path %> |
       <%= link_to 'Log out', destroy_user_session_path, method: :delete %> |
     <% if current_user && current_user.profile.empty? %>
       <%= link_to 'Create a Profile', new_user_profile_path(current_user) %> |
     <% end %>
     <%= link_to 'Your Recipes', user_recipes_path(current_user)%> |
     <%= link_to 'Add Recipe', new_user_recipe_path(current_user)%> |
      <div class="dropdown">
          <a class="dropbtn"><i class="fa fa-cogs"></i>Account Options</a>
          <div class="dropdown-content">
           <% if !current_user.profile.empty? %>
             <label class="sub-content">Profile</label>
             <%= link_to 'View Your Profile', user_profile_path(current_user.id, current_user.profile) %>
             <%= link_to 'Edit Your Profile', edit_user_profile_path(current_user.id, current_user.profile) %>
             <%= link_to 'Delete My Profile', user_profile_path(current_user.id, current_user.profile), method: :delete %>
           <% end %>
             <label class="sub-content">Account</label>
             <%= link_to 'Cancel Account', edit_user_registration_path(current_user) %>
          </div>
      </div>
     <% else %>
       <%= link_to 'Email Sign Up', new_user_registration_path %> |
       <%= link_to 'Log in', new_user_session_path %> |
     <% end %>
   </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
